.HL{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.VL {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}